{% extends "base.html" %}
{% block content %}
<div style="min-height: 1000vh;">
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 40px; text-align: center; ">
    Characters
</div>
    <div class = "accordion-body" style = "position: relative; left: 800px; font-family: Garamond, serif; font-size: 22px; ">
        <a href="/comics/add" class = "text-decoration-none">
            Add a Character
    </a>
        </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px; text-align: center">
    &nbsp
</div>
 <div class="row">
    {% for character in characters %}
    <div class="col-sm-3 mb-3">
<div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
    <a href="/comics/{{character.name}}" class="text-decoration-none">
            {{character.name}}
    </a>
</div>
    </div>

    {% endfor %}
 </div>
</div>
{% endblock %}