{% extends "base.html" %}
{% block content %}
<div style="overflow-y:auto; overflow-x:hidden;">
    <div class="accordion-body" style = "text-align: center; font-family: Garamond, serif; font-size: 40px">
        {{biography.name}}
    </div>
    <div class = "accordion-body" style = "position: relative; left: 1100px; font-family: Garamond, serif; font-size: 25px; ">
        <a href="/comics/{{biography.name}}/edit" class = "text-decoration-none">
            Edit
    </a>
    </div>
    <img class = "accordion-body" style="border-radius: 15%; margin-right: 2.5%; float: right" src= {{image.medium.url}} onError = "this.src = '{{image.medium}}'" width="300" height="350">
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px; font-weight: bold">
        Biography
     </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
         Full Name: {{biography.fullName}}
        <br> Alter Egos: {{biography.alterEgos}}
        <br> Aliases: {{biography.aliases}}
        <br> Birth Place: {{biography.birthPlace}}
        <br> First Appearance: {{biography.firstAppearance}}
        <br> Publisher: {{biography.publisher}}
        <br>
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px; font-weight: bold">
        Appearance
     </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
        Gender: {{appearance.gender}}
        <br> Race: {{appearance.race}}
        <br> Height: {{appearance.height}}
        <br> Weight: {{appearance.weight}}
        <br> Eye Color: {{appearance.eyeColor}}
        <br> Hair Color: {{appearance.hairColor}}
        <br>
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px; font-weight: bold">
        Work
     </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
        Occupation: {{work.occupation}}
        <br> Base: {{work.base}}
        <br>
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px; font-weight: bold">
        Connections
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
        Group Affiliations: {{connections.groupAffiliation}}
        <br> Relatives: {{connections.relatives}}
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px; font-weight: bold">
        Powerstats
    </div>
    <table class="table table-bordered" style="border-color:black">
        <thead>
        <tr>
            <th scope="col">Powerstats</th>
            <th scope="col">Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Intelligence</th>
            <td>{{powerstats.intelligence}}</td>
        </tr>
        <tr>
            <th scope="row">Strength</th>
            <td>{{powerstats.strength}}</td>
        </tr>
        <tr>
            <th scope="row">Speed</th>
            <td>{{powerstats.speed}}</td>
        </tr>
        <tr>
            <th scope="row">Durability</th>
            <td>{{powerstats.durability}}</td>
        </tr>
        <tr>
            <th scope="row">Power</th>
            <td>{{powerstats.power}}</td>
        </tr>
        <tr>
            <th scope="row">Combat</th>
            <td>{{powerstats.combat}}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}