{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div style="min-height: 100vh; font-family: Garamond, serif; color: black !important;">
    <form method = "POST">
        {% csrf_token %}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Biography</legend>
            {{ sb_form|crispy }}
            <legend class = "border-bottom mb-4">Appearance</legend>
            {{ sa_form|crispy }}
            <legend class = "border-bottom mb-4">Work</legend>
            {{ sw_form|crispy }}
            <legend class = "border-bottom mb-4">Connections</legend>
            {{ sc_form|crispy }}
        </fieldset>
        <div class = "form-group">
            <button class = "btn btn-outline-info" type = "submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}