{% extends "base.html" %}
{% block content %}
<div style="min-height: 100vh;">
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 40px; text-align: center;">
    Marvel Characters
</div>
       <div class = "accordion-body" style = "position: relative; left: 800px; font-family: Garamond, serif; font-size: 22px; ">
        <a href="/comics/add" class = "text-decoration-none">
            Add a Marvel Character
    </a>
        </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
    &nbsp
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px;">
                    Heroes
                </div>
                <div class="col" style = "display: inline-block;">
                {% for goodCharacter in goodMarvelCharacters %}
                    <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">

                        <a href="/comics/{{goodCharacter.name}}" class = "text-decoration-none">
                            {{goodCharacter.name}}
                        </a>

                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-sm">
                <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px;">
                    Anti-Heroes
                </div>
                <div class="col" style = "display: inline-block;">
                {% for neutralCharacter in neutralMarvelCharacters %}
                    <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">

                        <a href="/comics/{{neutralCharacter.name}}" class = "text-decoration-none">
                            {{neutralCharacter.name}}
                        </a>

                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-sm">
                <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px;">
                    Villians
                </div>
                <div class="col" style = "display: inline-block;">
                {% for badCharacter in badMarvelCharacters %}
                    <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px;">

                    <a href="/comics/{{badCharacter.name}}" class = "text-decoration-none"">
                        {{badCharacter.name}}
                    </a>

                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}