{% extends "base.html" %}
{% block content %}
<div style="min-height: 100vh;">
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 40px; text-align: center;">
    Other Comic Characters
</div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
    &nbsp
</div>
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px; position: relative; left: 100px;">
   Lucasfilm
</div>
    <div class="col" style = "display: inline-block;">
    {% for character in lucasfilmCharacters %}
        <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">

    <a href="/comics/{{character.name}}" class = "text-decoration-none" style = "position: relative; left: 100px;">
            {{character.name}}
    </a>

             </div>
    {% endfor %}
    </div>
 <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px; position: relative; left: 100px;">

     Star Trek
</div>
    <div class="col" style = "display: inline-block;">
    {% for character in startrekCharacters %}
        <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">

    <a href="/comics/{{character.name}}" class = "text-decoration-none" style = "position: relative; left: 100px;">
            {{character.name}}
    </a>

             </div>
    {% endfor %}
    </div>
     <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px; position: relative; left: 100px;">
         Manga
</div>
    <div class="col" style = "display: inline-block;">
    {% for character in mangaCharacters %}
        <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">

    <a href="/comics/{{character.name}}" class = "text-decoration-none" style = "position: relative; left: 100px;">
            {{character.name}}
    </a>

             </div>
    {% endfor %}
    </div>
     <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px; position: relative; left: 100px;">
         Dark Horse Comics
</div>
    <div class="col" style = "display: inline-block;">
    {% for character in darkHorseCharacters %}
        <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">

    <a href="/comics/{{character.name}}" class = "text-decoration-none" style = "position: relative; left: 100px;">
            {{character.name}}
    </a>

             </div>
    {% endfor %}
    </div>
</div>
{% endblock %}