{% extends "base.html" %}
{% block content %}
<div style="min-height: 100vh;">
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 40px; text-align: center;">
        {{ publisher }} Characters
</div>
    <div class = "accordion-body" style = "text-align: center; font-family: Garamond, serif; font-size: 22px; ">
        <a href="/comics/add" class = "text-decoration-none">
            Add a {{ publisher }} Character
    </a>
        </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
    &nbsp
</div>
     <div class="row">
        {% for character in otherCharacters %}
         <div class="col-sm-3 mb-3">
            <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px;">
                 <a href="/comics/{{character.name}}" class="text-decoration-none">
                    {{ character.name }}
                </a>
                </div>
             </div>
        {% endfor %}
    </div>

</div>
{% endblock %}