{% extends "base.html" %}
{% block content %}
<div style="min-height: 100vh;">
    <h1 style = "font-family: Garamond, serif; font-size: 40px; text-align: center ">Search Results</h1>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
    &nbsp
</div>
    <ul>
<div class = "row">
{% for superhero in object_list %}
    <div class="col-sm-3 mb-3">
        <img class = "accordion-body" style="border-radius: 15%;" src= {{superhero.medium.url}} onError = "this.src = '{{superhero.medium}}'" width="200" height="250">
        <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 30px;">
    <a href="/comics/{{superhero.name}}" class = "text-decoration-none">
            {{superhero.name}}
    </a>
        </div>
    </div>
{% endfor %}
</div>
    </ul>
</div>
{% endblock %}