{% extends "base.html" %}
{% block content %}
<div style="min-height: 100vh;">
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 40px; text-align: center; ">
        Users
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
        &nbsp
    </div>
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px;">
        Owner
    </div>
    <div class="text-md-start" style = "font-family: Garamond, serif; font-size: 20px; ">
        <a href="/users/{{owner.username}}" class="text-decoration-none">
            {{owner.username}}
        </a>
    </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
        &nbsp
    </div>
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px;">
        Staff
    </div>
     <div class="row">
         {% for worker in staff %}
         <div class="col-sm-3 mb-3">
            <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
                <a href="/users/{{worker.username}}" class="text-decoration-none">
                    {{worker.username}}
                </a>
            </div>
         </div>
         {% endfor %}
     </div>
    <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 40px; text-align: center">
        &nbsp
    </div>
    <div class="text-decoration-underline" style = "font-family: Garamond, serif; font-size: 30px;">
        Members
    </div>
    <div class="row">
         {% for member in members %}
         <div class="col-sm-3 mb-3">
            <div class="text-md-left" style = "font-family: Garamond, serif; font-size: 20px">
                <a href="/users/{{member.username}}" class="text-decoration-none">
                    {{member.username}}
                </a>
            </div>
         </div>
         {% endfor %}
     </div>

</div>
{% endblock %}